# Ignore H2 database files
/app/db/testdb.mv.db
/app/db/testdb.trace.db

# Ignore Spring configuration files
application.properties
application-dev.yml
application-prod.yml
application.yml

# Ignore any other sensitive files

# Ignoring environment variables
.env

# Ignoring keys
*.key
*.jks
*.p12

# Gradle
.gradle/
build/
**/build/
**/out/
jte-classes/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# NetBeans
/nbproject/private/
/nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Eclipse
.metadata/
.bin/
.buildpath
.target/

# Java
*.class
*.jar
*.war
*.ear
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
*.db
*.sql
*.zip
*.tar.gz
*.tgz

# Miscellaneous
*.lock
*.egg-info/
